html,
html {
  scroll-behavior: smooth;
}
/* Overall theme */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-size: cover;
  color: white;
}

/* Header section */
header {
  background-color: black;
  color: white;
  padding: 20px;
}
  
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}
.side-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: black;
  transition: right 0.3s ease;
}

.side-menu.open {
  right: 0;
}

.side-menu ul {
  padding: 20px;
  right:20px ;
}

.side-menu ul li {
  margin-bottom: 10px;
}

.side-menu ul li a {
  text-decoration: underline;
  color: black ;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #333;
}

.navbar-container {
  display: flex;
  align-items: center;
}
.side-menu {
  position: fixed;
right: -250px;
top: 0;
height: 100%;
width: 250px;
  background-color: black;
  transition: left 0.3s ease;
  z-index: 9999;
}

.side-menu.open {
  right: 0;
}

.side-menu ul {
  padding: 20px;
}

.side-menu ul li {
  margin-bottom: 10px;
}

.side-menu ul li a {
  text-decoration: none;
  color: white;
}
.side-menu a:hover {
text-decoration: underline;
}







  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .booking-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Calendar styles */
  #calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .day {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .available {
    background-color: #c5e1a5;
    cursor: pointer;
  }
  
  .not-available {
    background-color: #ef9a9a;
    cursor: not-allowed;
  }
  
  /* Payment form styles */
  .payment-form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .payment-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .payment-button:hover {
    background-color: #45a049;
  }
  
