* 
html,
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.section
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;

}

section.before
{
content: "";
position: absolute;
width: 400px;
height: 400px;
background: linear-gradient(#ffc197,#e91e63);
border-radius:50%;
  }

section.after
{
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffc197,#e91e63 )
}



/* Calendar styles */
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 400px; /* Adjust the width as needed */
  }
  
  .day {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .available {
    background-color: #c5e1a5;
    cursor: pointer;
  }
  
  .not-available {
    background-color: #ef9a9a;
    cursor: not-allowed;
  }
  