
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
  }
  
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .line {
    width: 100%;
    height: 2px;
    background-color: #333;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
  }
  .side-menu {
    position: fixed;
  right: -250px;
  top: 0;
  height: 100%;
  width: 250px;
    background-color: black;
    transition: left 0.3s ease;
    z-index: 9999;
  }

  .side-menu.open {
    right: 0;
  }

  .side-menu ul {
    padding: 20px;
  }

  .side-menu ul li {
    margin-bottom: 10px;
  }

  .side-menu ul li a {
    text-decoration: none;
    color: white;
  }
  .side-menu a:hover {
  text-decoration: underline;
}