/* Reset default styles and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-image: url("LuzCam.jpg");
    background-size: cover;
 
  }
  
  /* Header section */
  .header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7)), url("Banner1.jpg");
    background-position: center;
    position: relative;
    color: white;
    transform: translateY(-5px);
  }
  
  /* Navigation styles */
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 6%;
  }
  
  nav ul {
    margin-left: 0;
    padding: 0;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav img {
    width: 150px;
  }
  
  nav a:hover {
    color: white;
    transform: translateY(-20px);
  }
  
  /* Hero section */
  .hero {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7)), url("Banner1.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: white;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  /* Button styles */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease transform 0.3s ease;
    margin: 10px;
  }
  
  .btn:hover {
    background-color: black;
    color: white;
    transform: translateY(-3px);
  }
  
  
  /* Footer styles */
  footer {
    background-color: transparent;
    padding: 20px;
    color: white;
  }
  /* Floating message animation */
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .floating-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    animation: floatMessage 4s ease-in-out infinite alternate;
  }
  
  @keyframes floatMessage {
    0% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -60%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
  