/* Reset default styles */
html,
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Overall theme */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-size: cover;
}

/* Header section */
header {
  background-color: black;
  color: white;
  padding: 20px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 2% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar li a {
  color: white;
  text-decoration: none;

}




.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.line {
  height: 3px;
  width: 100%;
  background-color: white;
}

.navbar-container {
  display: flex;
  align-items: center;
  position: relative;
}

.hamburger-menu {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
}

/* Media query for mobile */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-container .hamburger-menu {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .navbar-container .hamburger-menu .line {
    background-color: white;
    border-radius: 2px;
  }

  .navbar-container .hamburger-menu .line:first-child {
    transform-origin: top left;
    transform: rotate(45deg);
  }

  .navbar-container .hamburger-menu .line:nth-child(2) {
    opacity: 0;
  }

  .navbar-container .hamburger-menu .line:last-child {
    transform-origin: bottom left;
    transform: rotate(-45deg);
  }

  .navbar-container .hamburger-menu.active .line {
    background-color: white;
  }

  .navbar-container .hamburger-menu.active .line:first-child {
    transform: rotate(45deg);
  }

  .navbar-container .hamburger-menu.active .line:last-child {
    transform: rotate(-45deg);
  }

  .navbar-container .hamburger-menu.active .line:nth-child(2) {
    opacity: 1;
    transform: scaleX(0);
  }
}

  
  /* Content container styles */
  .content-container {
  margin-left: 0;
  transition: margin-left 0.3s ease;
  }
  
  /* Slideshow styles */
  
  .slide {
  display: none;
  max-height: auto;
  max-width: fit-content;
  }
  
  .slide img {
  width: 100%;
  height: auto;
  object-fit: fit-content;
  }
  
  .prev,
  .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  user-select: none;
  }
  
  .prev {
  left: auto;
  }
  
  .next {
  right: 0;
  }
  
  .slideshow-container .active-slide {

  position: relative;
  width: 100%;
  overflow: hidden;
  }
  
  /* Slideshow animation */
  @keyframes autoSlideAnimation {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(-100%);
      opacity: 1;
    }
    25% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  .slideshow-container .slide {
  animation: slideAnimation 0.5s ease-in-out;
  }
  
  /* Slideshow controls */
  .prev:hover,
  .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Auto slide */
  .slideshow-container[data-auto-slide="true"] {
  animation: autoSlideAnimation 5s infinite;
  }
  
  @keyframes autoSlideAnimation {
  0% {
  transform: translateX(0);
  opacity: 1;
  }
  20% {
  transform: translateX(-100%);
  opacity: 1;
  }
  25% {
  transform: translateX(-100%);
  opacity: 0;
  }
  100% {
  transform: translateX(0);
  opacity: 1;
  }
  }
  
  .prev,
  .next,
  .slideshow-container:hover {
  animation: none;
  }
  
  
.side-menu {
  position: fixed;
  right: -250px;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: black;
  transition: right 0.3s ease;
  z-index: 999;
}

.side-menu.active {
  right: 0;
}

.side-menu ul {
  list-style-type: none;
  padding: 20px;
}

.side-menu li {
  margin-bottom: 10px;
}

.side-menu a {
  color: white;
  text-decoration: none;
}

.side-menu a:hover {
  text-decoration: underline;
}

  
  .newsletter-popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  }
  
  .newsletter-content {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
  }
  
  .newsletter-form input[type="email"] {
  padding: 10px;
  width: 250px;
  margin-bottom: 10px;
  }
  
  .newsletter-form button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  text-decoration: none;
  border-radius: 5
  px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 10px;
  }
  
  body.newsletter-popup-open {
  /* Add styles to control the appearance of the body when the popup is open */
  }
  
  button[type="submit"]:hover {
  background-color: whitesmoke;
  color: black;
  }
  
  .close-popup {
  margin-top: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  }
  
  .close-popup:hover {
  background-color: white;
  color: black;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
  }
  
  .btn:hover {
    background-color: white;
    color: black;
    transform: translateY(-3px);
  }
  footer {
    background-color: black;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links a {
    margin: 10px;
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  